.btn{
    background-color:#C70101;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: none ;
    border-radius: 5px;
    padding: 12px 20px 12px 20px;
}