@media (max-width: 625px){
    .header__official{
        
        visibility: hidden;
        display: none;        
        width: 0;
    }
    .wrapper__header .wrapper__header_img{
        width: 80%;
        padding-left: 10px;
    }
    .header__contacts{
        align-items: center;
        padding-right: 10px;
    }
  .header__contacts .header__contacts_tel{
        font-size: 11px;
    }   
}

@media (max-width: 425px){
    .wrapper__header .header__contacts{
      display: none;  
      
    }
    .wrapper__header .navbar__wrap{
      
     display: block;
    
}
.menu li{
  border:none; 
}
.menu{
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
  justify-content: center;
  background-color:#5644a5;
  padding-left: 0;
}
.menu > li > a{
  color:white;
}

.menu > li > a:hover{
  color:wheat;
 
}
.menu > li{
  margin-right: 0;
}

.nav__item{
  width: 50px;
  height: 50px;
  /* border: 1px solid #1e0783; */
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  
  
}
.hamb{
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items:flex-start;
  align-content: center;
}
.bar{
width: 67%;
height: 2px;
background-color: white;
transition: all 0.3s ease;
border-radius: 2px;
background-color:#fff;

}
.nav__item.active .bar:nth-child(1){
  transform: rotate(45deg) translate(4px, -1px);
  
}
.nav__item.active .bar:nth-child(2){
  opacity: 0;
}
.nav__item.active .bar:nth-child(3){
  transform: rotate(-45deg) translate(18px, -16px);
 
}
.menu{

  transform:  translateX(500%);
  transition: 2s all ease;
}
.menu.active{
  transform: translateX(0);
  transition: 2s all ease;
}
}